<h2> October 30th, 2024 <h2>
    <ul>
        <li>added articles_control controller<li>
        <li>read a lot through the ruby docs as well as google searching</li>
        <li>lots of time for hands on the keyboard!! looking at different code</li>
    </ul>

<h2> November 1st, 2024 <h2>
    <ul>
        <li>fixed a bug that wasnt allowing me to use the console or test erb environment</li>
        <li>more reading about mvc,, looking at code</li>
        <li>added my own dev_log controller,,model and view!!!</li>
        <li>lots of looking at docs instead of going straight to gpt</li>
    </ul>

<ul> 
    <% @log.each do |logs|%>
        <li>
            <%= logs %>
        </li>
    <% end %>
</ul>
